html {
    padding: 0;
    margin: 0;
    font-family: arial;
    height: 100%;
    color: #999;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../img/background11.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

td{
    color: white;
    padding: 1%;
}
legend{
    text-align: center;
}

header {
    padding: 20px 0 0 50px;
}

header #brand img {
    margin: auto;;
    height: 60px;
}


footer p {
    margin-top: 0;
}

footer a {
    font-size: 0.7em;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

footer a:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    flex-grow: 1;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin: 0 0 30px 0;
}
fieldset {
    border: 0;
}

input[type="email"], [type="password"], [type="text"], [type="number"], [type="date"], [type="float"]{
    padding: 15px;
    width: 100%;
    font-size: 1em;
    border: 0;
    border-radius: 5px;
    color: black;
    margin-bottom: 15px;

}

.boutonArticle{
    display: flex;
    float: right;
    margin: 1% 0;

}


button[type="submit"]:hover{
    filter:brightness(1.1);
}

button:hover{
    font-weight: bold;
    filter:brightness(1.1);
}

img{
    height: 50px;
    cursor: pointer;
    vertical-align: middle;
}

button {
    background-color: #4fc0a6;
    color: white;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
input type{
    background-color: blue;
    color: white;
    padding: 15px;
    width: 20%;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#option {
    color: #b3b3b3;
    margin-top: 10px;
    display: block;
    font-size: 0.9em;
}


#login-body {
    max-width: 1000px;
    margin: auto;
    background-color: #293333;
    color: white;
    border-radius: 5px;
    padding: 50px;
    margin-top: 50px;
}

.grey {
    color: #777;
}

.alert {
    padding: 10px;
    margin: 30px 0;
    color: white;
    border-radius: 5px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.container {
    width: 1000px;
    margin: 0 auto;
}




@media all and (max-width: 1030px) {
    .container { width: 800px; }

}

@media all and (max-width: 830px) {
    .container { width: 580px; }
    header { text-align: center; padding-left: 20px; }


}