html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    min-height: 100%;

}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}


footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    /*background: wheat;*/
    background: #1f2933;
    color: white;
    padding-bottom: 20px;
    margin-top: 11%;
    text-align: center;
    bottom: 0;
}


.share{
    padding:0.5rem 0;
  }
.share a{
    width: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color:#fff;
    border: 1px solid rgb(255, 255, 255);
    margin:.3rem;
    border-radius: 50%;
  }
  
.share a:hover{
    background-color: #d3d3d3;
  }

.links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom:20px;
    gap:1rem;
}

.links a{
    padding:.7rem 2rem;
    color:#fff;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight:bold;
    border-radius: 5%;
}

.links a:hover{
    background-color: #d3d3d3;
}
