@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*{
	font-family: 'Barlow', sans-serif ;
}
#navigation a {
    text-decoration: none;
}

@media (max-width: 1650px) {
    nav{
        margin-top: 4px;
    }
}


/*  ----------------- CONTENT MENU  ------------------------- */

#navigation{

}
ul {
    background: #23262d;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    color: #4fc0a6;
    background: #23262d;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    width: 25%;
    text-align: center;
}
li a {
    color: #fff;
}

nav ul li .menu{
    font-size: 17px;
    font-weight: bold;
}

/*  ----------------- FIN CONTENT MENU  ------------------------- */

nav li:hover,
li:focus-within {
    background: #4fc0a6;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

#nav{
    height: 100%;
}
ul li ul {
    background: #23262d;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    width: 100%;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {

    width: 25%;


}

@media (max-width: 1650px) {
    .submenu{
        width: 120%;
    }
}




@media (max-width: 1060px){
    #brand{
        padding-left: 25px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checbox{
        display: block;
        margin-right: 40px;
    }
    img{
        height: 400px;
    }
    .menu ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    #check:checked ~ ul{
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #deco{
        margin-left: 15%;
    }
    button{
        display: inline-block;
    }
    
}

/*  ----------------- CONTENT SEARCH DROPDOWN  ------------------------- */

.searchcontent{
    text-align: center;
    padding: 1%;

    
}



select{
    border: 1px solid rgb(202, 202, 202);
    width: 15%;
    text-align: left;
    height: 42px;
    border-right: none;
    border-left: none;
    color: #666;
    background-color: transparent;
}

#search-button{
    border: 1px solid rgb(202, 202, 202);
    height: 42px;
    width: 10%;
    border-radius: 15px;
    margin-left: 2%;
    color: #2d2d2d;
    font-weight: 700;
}

#label-search{
    margin-left: 2%;
}

#searchcategorie{
    color :#030100;
}